#instruction-container {
	margin-bottom: 10px;
	margin-top: 10px;
}

#feature-request {
	width: 381px;
	height: 150px;
}

.instruction-title {
	margin-top: 8px;
}

.instruction-title:hover {
	color: black;
}