#options {
	margin-bottom: 10px;
}

.options-group {
	margin-top: 15px;
}

.options-group:hover {
	color: black;
}

.group-title-selected {
	color: black;
}

.options-container {
	margin-bottom : 10px;
	margin-top : 10px;
}